<header>
    <div class="header-container">
        <div class="header-items">
            <div class="header-logo">
                <a href="#">타닥타닥</a>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="#">기관</a></li>
                    <li><a href="#">강사</a></li>
                    <li><a href="#">과정</a></li>
                    <li><a href="#">건의사항</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자유게시판</a></li>
                    <li><a href="#">통계</a></li>
                </ul>
            </div>
            <div class="header-user">
                <div class="login">
                    <a href="#">로그인</a>
                </div>
                <div class="create">
                    <a href="#">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</header>