@import "component/reset.css";
@import "component/header.css";


@font-face {
    font-family: 'NEXON Lv1 Gothic';
    src: url('../../static/font/NEXONLv1GothicBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic';
    src: url('../../static/font/NEXONLv1GothicLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic';
    src: url('../../static/font/NEXONLv1GothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../static/font/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../static/font/GmarketSansTTFLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../static/font/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


